<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('commute.list') }}">通学情報一覧</a></li>
    </ul>

    <a href="{{ url_for('commute.add') }}">新規通学情報追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>通学方法</th>
                <th>通学時間(分)</th>
            </tr>
        </thead>
        <tbody>
            {% for commute in items %}
            <tr>
                <td><a href="{{ url_for('commute.edit', commute_id=commute.id) }}">編集</a></td>
                <td>{{ commute.way }}</td>
                <td>{{ commute.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>合計人数</th>
                <th>通学時間合計(分)</th>
                <th>通学時間平均(分)</thth>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>徒歩</th>
                <td>{{ data[0][0] }}</td>
                <td>{{ data[0][1] }}</td>
                <td>{{ average[0] }}</td>
            </tr>
            <tr>
                <th>車</th>
                <td>{{ data[1][0] }}</td>
                <td>{{ data[1][1] }}</td>
                <td>{{ average[1] }}</td>
            </tr>
            <tr>
                <th>公共交通機関</th>
                <td>{{ data[2][0] }}</td>
                <td>{{ data[2][1] }}</td>
                <td>{{ average[2] }}</td>
            </tr>
        </tbody>
    </table>
    
    <div class="bar-graph-wrap">
        <div class="graph walk" style="--total: {{rate[0]}}%">
            <span class="name">徒歩</span>
            <span class="number">{{data[0][0]}}人</span>
        </div>
        <div class="graph car" style="--total: {{rate[1]}}%">
            <span class="name">車</span>
            <span class="number">{{data[1][0]}}人</span>
        </div>
        <div class="graph public" style="--total: {{rate[2]}}%">
            <span class="name">公共交通機関</span>
            <span class="number">{{data[2][0]}}人</span>
        </div>
    </div>

</body>
</html>
