<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>アンケート結果</title>
    <div class="graph-wrap">
        <svg class="circle" viewBox = "0 0 64 64">
            <circle cx="50%" cy="50%" r="15.9154"></circle>
            <circle cx="50%" cy="50%" r="15.9154"></circle>
            <circle cx="50%" cy="50%" r="15.9154"></circle>
            <circle cx="50%" cy="50%" r="15.9154"></circle>
        </svg>
    </div>
</head>
<body>
    <h1>アンケート結果</h1>
    <a href="{{ url_for('programing.list') }}">回答者一覧に戻る</a>
</body>
</html>
